@model IEnumerable<Cibergestion.Controllers.funcionarios>

@{
    ViewData["Title"] = "Início";
}

<h1>Cadastro de Funcionarios</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    <a asp-action="Create" class="btn btn-primary">Novo Cadastro</a>

